<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Valence Health</title>
    <!-- Bootstrap core CSS -->
    <link href="~/CustomStyle/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="~/CustomStyle/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="~/CustomStyle/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/CustomStyle/StyleSheet/freelancer.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="@Url.Action("Add","Contact")" >Valence Health</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="@Url.Action("GetContacts","Contact")" >View Contacts</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="@Url.Action("MyProfile","DevProfile")" >My Portfolio</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="@Url.Action("Add","Contact")" >Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container bg-primary text-white">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Valence Health</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="~/CustomStyle/vendor/jquery/jquery.min.js"></script>
    <script src="~/CustomStyle/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/CustomStyle/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/CustomStyle/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- JS Validation -->
    <script src="~/CustomStyle/Js/jsValidation.js"></script>
</body>
</html>